<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower for Nurit</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="banner">
                <video  autoplay muted loop id="myVideo">
                <source src="../videos/banner.mp4" type="video/mp4"></video>
            <nav>
                <div class="logo">C</div>
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/shop.html">Shop</a></li>
                    <li><a href="../views/aboutus.html">About</a></li>
                    <li><a href="../views/contactus.html">Contact</a></li>
                </ul>
                <div class="user-actions"></div>
            </nav>
            <div class = "banner-content">
                <h1>Flower for Nurit</h1>
                <section id="login" class="login-section">
                    <div class="login-container">
                        <div class="login-form">
                            <h2>Register</h2>
                            <h3>Please register your new Account.</h3>
                            <form id="register-form">
                                <input type="text" id="username" name="username" placeholder="Name" required>
                                <input type="email" id="email" name="email" placeholder="Email" required>
                                <input type="password" id="password" name="password" placeholder="Password" required>
                                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
                                <button type="submit">Register now</button>
                            </form>
                            
                            <a href="../views/forgotpass.html" class="forgot-password">Forgot your password?</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script src="../scripts/header.js" defer></script>
    </header>
    <div class = "pos2">
    </div>

    <section class="promo-section">
        <div class="shadow-overlay"></div>
        <div class="text-overlay">
            <h1>**"10% off selected flowers for Valentine's Day"**</h1>
            <br></br> <br></br><br></br>
            <p>"Flowers bring a touch of nature's beauty into our</p>
            <p>daily lives, enriching our homes, workspaces,and</p>
            <p>hearts with their vibrant colors and calming presence."</p><br></br>
        </div>
        <div class = "b"><button>Order Now</button></div>
    </section>
    <div class = "pos2">
        <br></br>
        <h1>Nurit's Flower - Flower Shop</h1><p></p>
    </div>
    <div class="gallery">
        <img src="../images/11.jpg" alt="Gallery 1">
        <img src="../images/12.jpg" alt="Gallery 2">
        <img src="../images/13.jpg" alt="Gallery 3">
        <img src="../images/14.jpg" alt="Gallery 4">
        
    </div>


    <div class="instegram">
        <br><br>
        <button class="instegram-button"> 
            Follow Us <img src="../images/instegram.png" alt="Instegram Icon" class="instegram-icon">
        </button>   
    </div>
 <div class="footer">
    <div class="footer-section logo"><br><br>
        <div class="logo-box">C</div>
        <div class="logo-text">
            <p>Flower Shop</p></div>
    </div>
    <div class="footer-section menu">
        <h3>Quick Menu</h3> 
        <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="footer-section policy">
        <h3>Policy</h3>
        <ul>
            <li>Shipping & Returns</li>
            <li>Store Policy</li>
            <li>Payment Methods</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div class="footer-section address">
        <h3>Address</h3>
        <p>Rishon Lezzion</p>
        <p>Moshe Sharet 100 street</p> <br></br>
        <div class="social-icons">
            <span>Follow</span>
            <button class="facebook-icon"><img src="../images/facebook.png" alt="facebook Icon"></button>
            <button class="instegram-icon"><img src="../images/instegram.png" alt="Instegram Icon"></button>
            <button class="whatsapp-icon"><img src="../images/whatsapp.png" alt="whatsapp Icon"></button> 
            <button class="tiktok-icon"><img src="../images/tiktok.png" alt="tiktok Icon"></button>     
        </div>
    </div>
 </div>
 <script src="../scripts/signup.js"></script
</body>