@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir.woff2.ttc') format('woff2'),
         url('../fonts/Avenir/Avenir.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir/Avenir\ Next.woff2.ttc') format('woff2'),
         url('../fonts/Avenir/Avenir Next.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Ultra Light';
    src: url('../fonts/Avenir/Avenir\ Next.woff2.ttc') format('woff2'),
        url('../fonts/Avenir/Avenir Next.ttc') format('ttc');
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/Avenir/Avenir Next Condensed.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir Next Condensed.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caudex';
    src: url('../fonts/Caudex/Caudex-Regular.woff2.ttf') format('woff2'),
         url('../fonts/Caudex/Caudex-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caudex Italic';
    src: url('../fonts/Caudex/Caudex-Italic.woff2') format('woff2'),
         url('../fonts/Caudex/Caudex-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caudex Bold';
    src: url('../fonts/Caudex/Caudex-Bold.woff2') format('woff2'),
         url('../fonts/Caudex/Caudex-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caudex Bold Italic';
    src: url('../fonts/Caudex/Caudex-BoldItalic.woff2') format('woff2'),
         url('../fonts/Caudex/Caudex-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdf6f0;   
}

header {
    background-position:top;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 0 0;
}

header banner{
    position: absolute;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    display: flex;
    background-position:top;   
}

header nav{
    font-family: 'AvenirNext-UltraLight', sans-serif;
    width: 100vw;
    background-size: cover;
    background-position: top;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);   
}

.login-button{ 
    font-size: 18px;
    color:white;
    background-color: transparent;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    align-items: center;
    text-align: center;
    border-bottom-right-radius:5mm;
    border-bottom-left-radius: 5mm;
    border-top-right-radius: 5mm;
    border-top-left-radius: 5mm;
    padding-left: 12px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 4px;   
    cursor: pointer;
    border: solid rgba(236, 230, 230, 0.339);
    border-width:0.35mm;
}

.logout-button {
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    align-items: center;
    text-align: center;
    border-radius: 4mm;
    padding: 5px 12px 3px 10px;
    cursor: pointer;
    border: 0.3mm solid rgba(236, 230, 230, 0.339);
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.login-icon {
    display: flexbox;
    align-items: center;
    margin-right: 9px; 
    width: 26px;
    height: 22px;
}

.login-button:hover{
    background-color: rgba(255, 255, 255, 0.152);
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav {
    justify-content:space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);   
}

nav ul { 
    font-size: 16px;
    align-items: center;
    display:flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 18px;
    margin-left: 50%;
    padding: 0px 20px 0px 40px; 
    color: white;
    text-decoration: none;
    border-bottom: none;
}

nav .logo {
    font-family: 'AvenirNext-UltraLight', sans-serif;
    position: relative;
    margin-left: 20px;
    font-size: 32px;
    
}

nav .user-actions a{
    font-size: 18px;
    position: relative;
    padding: 0px 50px 40px 30px;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
    border-bottom: none;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
}

.banner video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index : -1;
}

header .banner .banner-content h1{
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px #0000007d; 
    font-size: 106px;
    font-family: 'Caudex', sans-serif;
}
header .banner .banner-content h2 {
    font-size: 32px;
    font-family:'Avenir', sans-serif;
    color: rgba(0, 0, 0, 0.876);   
}
header .banner .banner-content h3 {
    font-size: 24px;
    font-family:'Avenir', sans-serif;
    color: rgba(0, 0, 0, 0.876);   
}
.products{
    background-color: #fdf6f0;
}
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #FBF9F1;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    background-color: #FBF9F1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
}

.login-form, .register-form {
    width: 45%;
    text-align: center;
    margin-bottom: 1rem;
}

.login-form h2, .register-form h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #333;
}

.login-form p, .register-form p {
    font-size: 1em;
    color: #555;
    margin-bottom: 1rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button, .register-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover, .register-form button:hover {
    background-color: #555;
}

.forgot-password {
    display: block;
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password:hover {
    text-decoration: underline;
}

.products h2{
    width: 50%;
    margin-left: 25%;
    font-family: 'Caudex', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 20px;
    color:rgb(85, 59, 106);
}

.products p{
    font-family: 'Avenir Next', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    color:rgb(85, 59, 106);
}

.products, .gallery, footer {
    padding: 60px 20px;
    text-align: center;
}

.product-grid, .gallery-grid, .footer-grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 1600px;
    margin: 0 auto;
}

.product-item, .gallery-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.product-item img, .gallery-item img {
    width: 100%;
    height: auto;
}

.product-item p{
    font-size: 22px;;
}

.product-item .price {
    font-size: 18px;
    color: rgb(85, 59, 106);
}

.old-price {
    text-decoration: line-through;
    color: #666;
}

.abcd{
    text-align: center;
}

.load-more button{  
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size: 16px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: rgb(85, 59, 106);
    color: rgb(85, 59, 106);
    cursor: pointer;
    background-color: #fdf6f0; 
    border-color: solid;
    border-width: thin;  
}

.load-more button:hover {
    background-color: rgba(85, 59, 106, 0.621);    
}
  
.view-all button{   
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size: medium;
    background-color: #fdf6f0;
    border-color: solid;
    border-width: thin;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-color: rgb(85, 59, 106);
    color: rgb(85, 59, 106);
    cursor: pointer;
}

.view-all button:hover {
    background-color: rgba(85, 59, 106, 0.621);   
}

.promo-section{
    background: url('../images/08.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;  
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: block;
    padding: 170px 20px 120px 0px;
    text-align: center; 
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.375); /* Black shadow with 50% opacity */
}

.promo-section .text-overlay h1 {
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    align-items: center;
    width: 100%;
    font-family: 'Caudex', sans-serif;;
    font-weight: lighter;   
}

.text-overlay p {
    position: absolute;
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50%;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size: 1rem;   
}

.b{
    position: absolute;
    position: relative;
}

.b button{
    cursor: pointer;
    font-size: 15px;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-weight: 100;
    padding: 15px 50px;
    background-color: transparent;
    color: white;
    border: solid white;
    border-width: thin;   
}

.b button:hover{
    background-color: rgba(255, 255, 255, 0.554);
}

.pos2{
    text-align: center;
    font-family: 'Caudex', sans-serif;
    font-weight: lighter;
    font-weight: 100;
    color: rgb(85, 59, 106);
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.instegram{
    display: flex;
    margin-left: 47%;  
}

.instegram-button{
    display: flex;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size: large;
    background-color: #fdf6f0;
    border: none;
    color: rgb(85, 59, 106);
    cursor: pointer;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size: large;
    background-color: #fdf6f0;
    border: none;
    color: rgb(85, 59, 106);
    cursor: pointer;
    padding: 0px 0px 0px;
    align-items: center;
    text-align: center;
}

.instegram-icon{
    align-items: center;
    margin-left: 8px;
    width: 50px;
    height: 50px;
}

.gallery {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position:relative; 
}

.gallery img {
    height: auto;
    object-fit: cover;
    width: 25%;
    height: 450px; 
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f3f1e7;
    padding: 30px;
    margin-top: 50px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f3f1e7;
    border: 1px solid white;
    margin: 0 10px;
}

.footer-section h3 {
    font-family: 'Caudex', sans-serif;
    font-weight: lighter;
    color: rgb(85, 59, 106);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer-section p, .footer-section ul {
    color: #5f5f5f;
    font-size: 1em;
    font-family: 'AvenirNext-UltraLight', sans-serif;
    font-size:small;
}

.footer-section ul {  
    list-style: none;
    padding: 0;
}

.footer-section ul li {   
    margin: 10px 0;
}

.logo-box {
    font-family: 'Caudex', sans-serif;
    font-size:xx-large;
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: rgb(85, 59, 106);
    height: 40px;;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text p{
    margin-bottom: 20px;
    color: rgb(85, 59, 106);
    font-family: 'Avenir Next', sans-serif;
    font-size:small;
    font-weight:260; 
}

.social-icons {
    background-color: #f3f1e7;
    padding: 0px 20px 80px 0px;
    text-align: center; 
    font-family: 'Avenir Next', sans-serif;
    color:  rgb(85, 59, 106);
    font-size:small;
    margin-top: 10px;
    font-size: 16px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.social-icons img {
    width: 100%;
    height: auto;
    object-fit: cover;   
}

.instegram-icon{
    position: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.whatsapp-icon{
    position: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.facebook-icon{
    position: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.tiktok-icon {
    position: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.hidden {
    display: none;
}

